body {
    color: black;
    font-size: medium;
    font-family: cursive;
}

.clear {
	clear: both;
}

.header {
    background-color: #E6F3FB;
    width: 100%;
    background-image: url(../images/header_background.jpg);
    height: 219px;
    background-repeat: no-repeat;
    width: auto;
    margin: 0;
    padding: 0;
    overflow: auto;
}

.content {
    background-color: #f3fcc9;
    /*border: 1px solid #b7b7b7;*/
    border-width: 5px;
    border-color: #54c413;
}

.menuwrapper {
    border: 1px solid #a8a80a;
    background-color: #e8f9b6;
}

.menubar, .menubar ul {
    padding: 0;
    margin: 0;
    float: left;
    list-style: none;
}

.menubar li {
    width: auto;
    float: left;
    width: 9em;
    display: inline;
    list-style-type: none;
}

.menubar li:hover a, .menubar a:focus, .menubar a:active {
    color: #000000;
    background-color: #fcb450;
    font-weight: normal;
}

.menubar a {
    display: block;
    text-decoration: none;
    padding: 5px 10px 5px 10px;
    border-right: 1px solid #a8a80a;
    font-size: .95em;
    color: #0000FF;
    background-color: transparent;
	text-align: center;
}

.mainBody  {
	margin: 1%;
	padding: 1%;
}

.mainBody h2 {
	text-align: center;
}

.contactInfo {
	width: 250px;
	height: 250px;
	float: left;
	margin-left: 4%;
}

#locMap {
	width: 250px;
	height: 250px;
	float: right;
	margin-right: 4%;
	margin-bottom: 1%;
}

.footer {
    width: 100%;
    text-align: center;
    background-color: #c2d66b;
    padding-top: 5px;
    padding-bottom: 5px;
    clear: both;
    overflow: auto;
}

.footer p {
	font-size: 12px;
	line-height: 14px;
	color: #fff;
	margin: 1px;
	padding: 1px;
	width: auto;
}
.footer a {
	color: #fff;
	text-decoration: underline;
}
.footer a:hover {
	color: #fff;
	text-decoration: none;
}